@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lock-overlay">
    <h1 class="lock-welcome">SmartSolarERP WHMS.</h1>
    <p>this is commit new for just for tesing in the browser remote repo.</p>
    <a asp-area="" asp-page="/Dashboards/DefaultDashboard">
        <i class="fas fa-lock lock-icon"></i>
    </a>
</div>



